*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Vollkorn&display=swap');


body{background: #436094;}

#header{
    width: 100%;
    height: 25vh;
    background: #333333;
    float: top;
    padding-bottom: 1vh;
    border-bottom-color: #222222;
    border-bottom-style: solid;
    border-bottom-width: 1vh;
}

.pop{
    margin-top: 3%;
    width: 96%;
    height: 60vh;
    background: #F8CD96;
    float: left;
    border-radius: 2vw;
    padding: 2%;
}

#home_btn{
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
    float: left;
    text-align: center;
    color: #F8CD96;
    height: 100%;
}

.menu_btn{
    background-color: #333333;
    font-size: 1.2vw;
    text-decoration: none;
    color: #BF525F;
    float: right;
    height: 5vh;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 2vh;
    text-align: center;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: #222222;
    border-style: solid;
    border-width: 0.1vh;
    border-top-width: 0vh;
}

.menu_btn:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    text-decoration: underline;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.menu_btn:active{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35);
    text-decoration: underline;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background: #222222;
    color: #AE414E;
}
/* конец кнопок меню */

.pop_block{
    font-size: 1vw;
    margin: 2%;
    margin-top: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: #F8CD96;
    float: left;
    background: #333333;
    text-align: center;
    padding: 0.8%;
    width: 18vw;
    height: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 2vw;
    text-decoration: none;
}

.head_pop_block{
    font-size: 1.2vw;
    margin-bottom: 4%;
    padding: 1%;
    height: 1.2vw;
    width: 15.2vw;
    border-radius: 2vw;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    background: #333333;
    color: #F8CD96;
    font-family: 'Roboto Condensed', sans-serif;
}

#find{
    float: left;
    background: #222222;
    padding: 2vw;
    width: 50vw;
    height: 2vw;
    padding-top: 0.75vw;
    padding-bottom: 0.25vw;
    border-radius: 0.18vw;
    margin-top: 3vw;
}

#f_line{
    margin: 0;
    font-size: 1vw;
    float: left;
    width: 40vw;
    height: 1.5vw;
    border-radius: 0.2vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}

#f_btn{
    margin: 0;
    font-size: 1vw;
    float: left;
    width: 10vw;
    height: 1.5vw;
    border-radius: 0.2vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    background: #F8CD96;
    color: #333333;
}
#f_btn:active{
    background-color: #E7BC85;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
}

#f_btn:hover{
    text-decoration: underline;
    border-width: 1vh;
    border-color: #436094;
}

#info_head{
    width: 100%;
    height: 25vh;
    background: #333333;
    padding-bottom: 1vh;
    float: left;
    margin-top: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #F8CD96;
    padding-top: 5%;
    font-size: 5vh;
}
